/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snack-bar {
    color: #ffffff !important;
    background-color: rgb(95, 175, 95) !important;
}